<div class="sidebar">
    <header>
        <div class="logo">IP</div>
        <h1>Image Publisher</h1>
    </header>

    <div class="items">
        <div
            [class.active]="(path$ | async) == 'presets'"
            [routerLink]="'presets'">
            <mat-icon>widgets</mat-icon>
            Presets
        </div>
        <div
            [class.active]="(path$ | async) == 'publish'"
            [routerLink]="'publish'">
            <mat-icon>share</mat-icon>
            Publish
        </div>
        <mat-divider></mat-divider>
        <div
            [class.active]="(path$ | async) == 'settings'"
            [routerLink]="'settings'">
            <mat-icon>settings</mat-icon>
            Settings
        </div>
    </div>

    <footer>
        <span>© Michelle Becker 2023</span>
    </footer>
</div>

<div class="content">
    <div class="page">
        <router-outlet></router-outlet>
    </div>
</div>
