:host {
    display: flex;
    gap: 32px;
    height: 100vh;

    div.sidebar {
        width: 300px;
        background-color: #252525;
        border-right: 1px solid #101010;
        box-shadow: 2px 0 10px 2px #101010;
        display: flex;
        flex-direction: column;
        justify-items: center;

        header {
            display: flex;
            height: 72px;
            padding: 0 32px;
            align-items: center;
            background-color: #353535;

            >div.logo {
                width: 40px;
                height: 40px;
                background-color: var(--primary);
            }
        }

        div.items {
            > div {
                padding: 16px 32px;
            }

            > div:hover {
                cursor: pointer;
                background-color: #353535;
            }
        }

        footer {
            padding: 12px;
            align-self: center;
            margin-top: auto;

            span {
                font-size: 14px;
                font-style: italic;
                color: #BBBBBB;
            }
        }
    }

    div.content {
        flex: 1;

        div.page {
            margin-top: 26px;
        }
    }
}
