<div class="sidebar">
    <header>
        <div class="logo">IP</div>
        <h1>Image Publisher</h1>
    </header>

    <div class="items">
        <div class="top">
            <div
                [class.active]="(rootPath$ | async) == 'presets'"
                [routerLink]="'presets'">
                <mat-icon>widgets</mat-icon>
                Presets
            </div>
            <div
                [class.active]="(rootPath$ | async) == 'upload'"
                [routerLink]="'upload'">
                <mat-icon>upload</mat-icon>
                Upload
            </div>
        </div>

        <div class="bottom">
            <mat-divider></mat-divider>
            <div
                [class.active]="(rootPath$ | async) == 'settings'"
                [routerLink]="'settings'">
                <mat-icon>settings</mat-icon>
                Settings
            </div>
        </div>
    </div>

    <footer>
        <span>© Michelle Becker 2023</span>
    </footer>
</div>

<div class="content">
    <div class="page">
        <router-outlet></router-outlet>
    </div>
</div>
