<form [formGroup]="form">

    <div>
        <mat-checkbox formControlName="custom_title">Custom Title</mat-checkbox>
        <app-label-input
            icon="title"
            formControlName="title"
            placeholder="Custom DeviantArt Title"
            label="Custom Title">
        </app-label-input>
    </div>

    <div>
        <mat-checkbox formControlName="custom_description">Custom Description</mat-checkbox>
        <app-label-input
            icon="subtitles"
            formControlName="description"
            placeholder="Custom DeviantArt Description"
            [textAreaMinRows]="1"
            [textAreaMaxRows]="12"
            [isTextarea]="true"
            label="Description">
        </app-label-input>
    </div>

    <div>
        <mat-checkbox formControlName="custom_tags">Custom Tags</mat-checkbox>
        <app-label-input
            icon="sell"
            formControlName="tags"
            placeholder="Custom DeviantArt Tags"
            label="Tags">
        </app-label-input>
    </div>

    <app-label-input
        icon="face_6"
        formControlName="character"
        placeholder="Character Name"
        label="Character">
    </app-label-input>


    <app-label-input
        icon="pin_drop"
        formControlName="location"
        placeholder="Location"
        label="Location">
    </app-label-input>


    <mat-checkbox formControlName="mature">Mature Content</mat-checkbox>

</form>


<!--<div>-->
<!--    <span>WebSocket State:</span>-->
<!--    <span id="WebSocketState">Disconnected</span>-->
<!--    <button>Connect</button>-->
<!--    <button>Disconnect</button>-->
<!--</div>-->

<!--<button>Login to DeviantArt</button>-->
<!--<div>-->
<!--    <span>Login State:</span>-->
<!--    <span id="DALoginState">Unknown</span>-->
<!--</div>-->
<!--<button>Login to DeviantArt</button>-->

<!--<div id="DAAuthorizationState">Unknown</div>-->
<!--<button>Authorize this App to access your DeviantArt Account</button>-->
<!--<button>Check if the App has access to your DeviantArt Account</button>-->

<!--<button>Logout of DeviantArt</button>-->

<!--
<button>reload</button>
<iframe href="http://192.168.0.174:2200">Loading ...</iframe>
-->
