<div>
    <span>WebSocket State:</span>
    <span id="WebSocketState">Disconnected</span>
    <button>Connect</button>
    <button>Disconnect</button>
</div>

<button>Login to DeviantArt</button>
<div>
    <span>Login State:</span>
    <span id="DALoginState">Unknown</span>
</div>
<button>Login to DeviantArt</button>

<div id="DAAuthorizationState">Unknown</div>
<button>Authorize this App to access your DeviantArt Account</button>
<button>Check if the App has access to your DeviantArt Account</button>

<input type="file" placeholder="Your upload file">
<input type="text" placeholder="Tags">

<input type="text" placeholder="Title">
<input type="text" placeholder="Description">

<input type="checkbox" placeholder="Has Character">
<input type="text" placeholder="Character">

<input type="checkbox" placeholder="Has Location">
<input type="text" placeholder="Location">

<input type="checkbox" placeholder="Is Mature">

<input type="checkbox" placeholder="Is AI Image">

<button>Logout of DeviantArt</button>

<!--
<button>reload</button>
<iframe href="http://192.168.0.174:2200">Loading ...</iframe>
-->
