app-general-preset-editor, app-general-preset-editor > form {
    margin-top: 12px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    mat-checkbox {

    }

    > div.row {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;

        &.img-inputs {
            justify-content: space-evenly;
            gap: 32px;
        }

        &.txt-inputs {
            div.label {
                display: flex;
                gap: 12px;
                align-items: center;
                background: #404040;
                padding: 4px 12px;
                border-radius: 12px;
                min-width: 150px;
            }

            div.label.focused {
                background: var(--primary);
            }

            textarea {
                resize: vertical;
            }

            mat-form-field, textarea {
                flex: 1;
            }
        }
    }
}
