<form [formGroup]="form">

    <mat-checkbox #seperatedImages formControlName="hdld">Separate High Detailed from Low Detailed</mat-checkbox>
    <div class="row img-inputs" [style.display]="seperatedImages.checked ? 'flex' : 'none'">
        <app-image-input #hdImage title="Image - High Detailed" formControlName="hdImage" id="hdImage"></app-image-input>
        <app-image-input #ldImage title="Image - Low Detailed" formControlName="ldImage" id="ldImage"></app-image-input>
    </div>
    <div class="row img-inputs" [style.display]="!seperatedImages.checked ? 'flex' : 'none'">
        <app-image-input #image title="Image" formControlName="image" id="image"></app-image-input>
    </div>

    <div class="row txt-inputs">
        <div
            class="label"
            [class.focused]="titleFocused">
            <mat-icon>title</mat-icon>
            <span>Title</span>
        </div>
        <mat-form-field
            class="no-subscript">
            <input
                matInput
                formControlName="title"
                (focus)="titleFocused = true"
                (blur)="titleFocused = false"
                placeholder="Title">
        </mat-form-field>
    </div>

    <div class="row txt-inputs">
        <div class="label"
             [class.focused]="descriptionFocused">
            <mat-icon>subtitles</mat-icon>
            <span>Description</span>
        </div>
        <mat-form-field
            class="no-subscript">
        <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="12"
            placeholder="Description"
            (focus)="descriptionFocused = true"
            (blur)="descriptionFocused = false"
        ></textarea>
        </mat-form-field>
    </div>

    <div class="row txt-inputs">
        <div class="label"
             [class.focused]="tagsFocused">
            <mat-icon>sell</mat-icon>
            <span>Tags</span>
        </div>
        <mat-form-field
            class="no-subscript">
            <input
                matInput
                formControlName="tags"
                (focus)="tagsFocused = true"
                (blur)="tagsFocused = false"
                placeholder="Tags">
        </mat-form-field>
    </div>
</form>
