app-general-preset-editor, app-general-preset-editor > form {
    margin-top: 12px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    mat-checkbox {

    }

    > div.row {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;

        &.img-inputs {
            justify-content: space-evenly;
            gap: 32px;
        }
    }
}
