<form [formGroup]="form">

    <mat-checkbox #seperatedImages formControlName="hdld">Separate High Detailed from Low Detailed</mat-checkbox>
    <div class="row img-inputs" [style.display]="seperatedImages.checked ? 'flex' : 'none'">
        <app-image-input #hdImage title="Image - High Detailed" formControlName="hdImage" id="hdImage"></app-image-input>
        <app-image-input #ldImage title="Image - Low Detailed" formControlName="ldImage" id="ldImage"></app-image-input>
    </div>
    <div class="row img-inputs" [style.display]="!seperatedImages.checked ? 'flex' : 'none'">
        <app-image-input #image title="Image" formControlName="image" id="image"></app-image-input>
    </div>

    <app-label-input
        icon="title"
        formControlName="title"
        placeholder="Title"
        label="Title">
    </app-label-input>

    <app-label-input
        icon="subtitles"
        formControlName="description"
        placeholder="Description"
        [textAreaMinRows]="1"
        [textAreaMaxRows]="12"
        [isTextarea]="true"
        label="Description">
    </app-label-input>

    <app-label-input
        icon="sell"
        formControlName="tags"
        placeholder="Tags"
        label="Tags">
    </app-label-input>
