:host {
    display: flex;
    gap: 12px;

    > div {
        flex: 1;
    }

    div.left {

    }

    div.right {
        div.header {
            padding: 8px 24px;
            font-size: 16px;
            font-weight: bold;
            background: #303030;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
        }

        div.content {
            background: #202020;
            padding: 16px 24px;

            > span.subheader {
                color: #777777;
                text-transform: uppercase;
                font-size: 12px;
                padding: 4px 8px;
            }

            > app-status-item {
                margin: 4px 0;
            }

            > mat-divider {
                margin: 4px 0 12px;
            }
        }
    }
}
