<div class="header">
    <span *ngIf="title">{{ title }}</span>
    <div class="actions">
        <ng-content></ng-content>
        <button mat-icon-button *ngIf="loading" (click)="cancel$.next(null)"><mat-icon>close</mat-icon></button>
        <button mat-icon-button *ngIf="(src$ | async)" (click)="delete()"><mat-icon>delete</mat-icon></button>
    </div>
</div>
<div
    class="body"
    [style.width]="width + 'px'"
    [style.height]="height + 'px'">
    <div class="overlay">
        <!--suppress AngularNgOptimizedImage -->
        <img
            #img
            *ngIf="src$ | async"
            [src]="(src$ | async)!"
            alt=""
            width="1"
            height="1" />

        <span class="description" *ngIf="!(src$ | async) && !dragAllowed && !dragDenied">
            Drag an image here<br>
            Or just click me...
        </span>
        <div
            class="drop-feedback"
            [class.allowed]="dragAllowed"
            [class.denied]="dragDenied">
            <span *ngIf="dragAllowed">File supported</span>
            <span *ngIf="dragAllowed">Drop here to upload</span>
            <span *ngIf="dragDenied">File not supported</span>
            <span *ngIf="dragDenied">You can't drop this here</span>
        </div>

        <input
            #input
            draggable="true"
            type="file"
            label=""
            title=""
            placeholder=""
            accept="image/png,image/jpg,image/jpeg" />

        <div
            *ngIf="loading"
            class="load-blocker"
            (click)="$event.stopPropagation()"
            (dragstart)="$event.stopPropagation()"
            (dragover)="$event.stopPropagation()"
            (drop)="$event.stopPropagation()">
        </div>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<div *ngIf="hasFileInfo" class="footer">
    <span>{{ filename }}</span>
    <span>{{ filesize }}</span>
    <span>{{ imageWidth }}x{{ imageHeight }}</span>
    <span>{{ aspect }}</span>
</div>
