<div class="header">
    <h3>{{ title }}</h3>
</div>
<div class="body">
    <div class="content">
        <span>{{ description }}</span>
        <ng-content></ng-content>
    </div>

    <div class="actions">
        <button
            mat-raised-button
            color="primary"
            [mat-dialog-close]="true">
            Confirm
        </button>
        <button
            mat-raised-button
            [mat-dialog-close]="false">
            Cancel
        </button>
    </div>
</div>
